@model CreditCardProvider.Models.ViewModels.ViewStatement
@{
}

<div class="bg-secondary" bg-opecity-10 py-2>
    <div class="container">
        <h1>View Statement for customer</h1>
    </div>
</div>

<div class="container" py="5">
    <form method="post">
        <div class="mb-3">
            <lable class="form-label">Credit Card Number</lable>
            <input type="text" class="form-control" id="credidCardNumber" asp-for="CreditCardNumber" />
        </div>
        <div class="mb-3">
            <lable class="form-label">Last Name</lable>
            <input type="text" class="form-control" id="lastName" asp-for="LastName" />
        </div>        
        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>

